<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Special+Elite|Quattrocento+Sans" rel="stylesheet">
	<link href="/public/calendar.css" type="text/css" rel="stylesheet">
	<script src="routes/moment.min.js"></script>
	<script src="/routes/jquery.min.js"></script>
	<link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
</head>
<header>
	<span id ="username">Guest</span>, welcome! 
	<span id ="login">
		<a href="login">Login</a>
	</span>
	<div id ="list">
		<a href="/">List View</a>
	</div></header>
	</header>
<body>

	<div id="calendar"></div>

	<script src="/routes/calendar.js"></script>
</body>
</html>