<!DOCTYPE html>
<html>

<head>
	<title>Lineup</title>
	<link href="https://fonts.googleapis.com/css?family=Special+Elite|Quattrocento+Sans" rel="stylesheet">
	<link href="/public/style.css" type="text/css" rel="stylesheet">
	<script src="/routes/jquery.min.js"></script>
	<link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
</head>

<body>

	<section id="banner">
	<header>
	<span id ="username">Guest</span>, welcome!
	<span id ="login">
		<a href="login">Login</a>
	</span><div id ="calendar">
		<a href="calendar">Calendar View</a>
	</div></header>
	<div id="myDIV" class="todo">
	<header>
		<h1>Lineup<span id=orange>.</span></h1></header>
		<div class="todo_todo"></div>
		<div class="todo_item">
			<div class="todo_new" id="taskname" contenteditable></div>
			<span>I need to do ...</span>
			<input type="date" id="date" max="2100-12-31">
			<!--<input type="text" id="location" placeholder= "Add location" onkeypress="toMap(event)"/>  -->
			<a href="#"  onclick="newElement()">+</a>
		</div>


	</div>	
	</section>
	<ul id="myUL">
	</ul>

	<script src="/routes/index.js"></script>
</body>
</html>
